#weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #79c2d0;
  border-radius: 10px;
}
#temperature {
  padding: 0;
}
.sun {
  font-size: 63px;
}
.number {
  font-size: 47px;
}

.grad {
  position: relative;
  font-size: 16px;
  top: -26px;
}

#location {
  margin: 23px 0 0 0;
}

#conditions {
  padding: 0;
}

h3 {
  padding: 27px 0 10px 0;
  text-align: center;
}

#weekdays {
  padding: 0px;
  text-align: center;
}

#Fri {
  padding: 0 0 0 20px;
}

.signature {
  padding: 30px 0 0 10px;
}
