#weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #79c2d0;
  border-radius: 10px;
}

.weatherDescription::first-letter {
  text-transform: capitalize;
}

.temperature {
  padding: 0;
}

.number {
  font-size: 45px;
}

.grad {
  position: relative;
  font-size: 16px;
  top: -24px;
}

#location {
  margin: 23px 0 0 0;
  text-align: center;
}

#conditions {
  padding: 15px 0 0 0;
  text-align: center;
}

h2 {
  padding: 20px 0 10px 0;
  text-align: center;
}

#weekdays {
  padding: 0px;
  text-align: center;
}

#Fri {
  padding: 0 0 0 20px;
}

.signature {
  padding: 30px 0 0 10px;
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  color: black;
  text-decoration: none;
}
